page-login {

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, #3FBA89, #0A4166);
    opacity: .3;
    z-index: 1;
  }

  .footer {
    text-align: center;
    margin: 2rem 0;

    a {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .loginSpacer {
    margin-bottom: 5rem;
  }

  .logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    ion-icon.icon {
      font-size: 10rem;
    }
  }

  ion-content {
    background-image: url("../assets/imgs/bg-2.jpeg");
    background-position: center;
    background-size: cover;

    .scroll-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .fieldContainer {
    margin-top: 5rem;

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom-color: #000;
      // -webkit-box-shadow: inset 0 -1px 0 0 #222;
      // box-shadow: inset 0 -1px 0 0 #222;
      box-shadow: none;
      transition: .5s;
    }

    .item-md.item-input.input-has-focus .item-inner {
      ion-label.label {
        color: #fff;
      }
      border-bottom-color: #fff;
      box-shadow: none;
    }

    ion-item {
      background-color: transparent;
      padding: 0 0.4rem;

      ion-icon.icon {
        margin: 0;
        align-self: flex-end;
      }

      ion-input.input {
        color: #fff;
      }
    }

    .loginBtn {
      // background-color: rgba(255,255,255,.9);
      // margin-top:3rem;
      // width:100%;
    }

    .registerBtn {
      // background: transparent;
      // box-shadow: none;
      // border: 1px solid #fff;
      // margin-top: 0;
      // width:100%;
    }
  }
}
