<ion-content padding>

  <div class="loginSpacer"></div>

  <div class="logo" *ngIf="showLogo">
    <ion-icon name="ios-contacts"></ion-icon>
    <span>Lean On Me</span>
  </div>

<div class="fieldContainer">

  <ion-item>
    <ion-icon name="md-mail" item-left color="light"></ion-icon>
    <ion-label floating color="light">Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email" color="light" (ionFocus)="showLogo=false" (ionBlur)="showLogo=true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="md-key" item-left color="light"></ion-icon>
    <ion-label floating color="light">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" (ionFocus)="showLogo=false" (ionBlur)="showLogo=true"></ion-input>
  </ion-item>

  <br><br>

  <button ion-button (click)="login(user)" color="light" class="loginBtn" large block>Login</button>
  <button ion-button (click)="register()" color="light" clear class="registerBtn" large block>Register</button>
  <div class="footer"><a href="">Forgot Password?</a></div>

</div>

<div></div>
</ion-content>
