<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Have a Chat
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      PEERS ONLINE
    </ion-list-header>
    <button ion-item *ngFor="let peer of peers" (click)="startChat(peer)">
      <ion-avatar item-start>
        <img [src]="getAvatarImg(peer.avatar)">
      </ion-avatar>
      <h2>{{peer.nickname}}</h2>
      <p>Anonymous</p>
      <ion-badge *ngIf="peer && peer.nickname === matchedNickname" item-end>Best Match</ion-badge>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      BOTS ONLINE
    </ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="../assets/imgs/avatars/bot.png">
      </ion-avatar>
      <h2>Dr Bot Feelwell</h2>
      <p>Chat with a friendly bot</p>
    </ion-item>
  </ion-list>


</ion-content>
