<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <br>

  <ion-list>

    <ion-item>
      <ion-label fixed>First name</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Last name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Sex</ion-label>
      <ion-select style="padding: 13px 8px">
        <ion-option value="female" selected="true">Female</ion-option>
        <ion-option value="male">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>Age</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Nickname</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

  </ion-list>

  <div padding style="padding-top: 0">
    <button ion-button color="dark" block large>Update</button>
    <br>
    <button ion-button color="danger" clear block>Remove account</button>
  </div>

</ion-content>
