<ion-header>

  <ion-navbar color="primary">
    <ion-title class="menuTitle">
      <ion-icon name="ios-contacts" class="menuLogo"></ion-icon> Lean On Me
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="currentStep" color="light">
      <ion-segment-button value="step1">
        <ion-badge color="primary">1</ion-badge>
        Profile
      </ion-segment-button>
      <ion-segment-button value="step2" [disabled]="isStepDisabled('step2')">
        <ion-badge color="primary">2</ion-badge>
        Credentials
      </ion-segment-button>
      <ion-segment-button value="step3" [disabled]="isStepDisabled('step3')">
        <ion-badge color="primary">3</ion-badge>
        Options
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <form [formGroup]="form">
    <input type="hidden" formControlName="avatar" [ngModel]="selectedAvatar">

    <div [ngSwitch]="currentStep">

      <ng-container *ngSwitchCase="'step1'">

        <ion-grid class="alert">
          <ion-row>
            <ion-col col-2 class="infoIconContainer">
              <ion-icon name="ios-information-circle-outline" color="primary"></ion-icon>
            </ion-col>
            <ion-col col-10 class="infoInfoContainer">We will try and match you to peers, bots or healthcare professionals based on your profile.
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>

          <ion-list-header>
            ONLINE PROFILE
          </ion-list-header>

          <ion-item>
            <ion-label fixed>Firstname</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label fixed>Surname</ion-label>
            <ion-input type="text" formControlName="surname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label fixed>Sex</ion-label>
            <ion-select formControlName="sex" style="padding: 13px 8px">
              <ion-option value="female">Female</ion-option>
              <ion-option value="male">Male</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label fixed>Marital Status</ion-label>
            <ion-select formControlName="maritalstatus" style="padding: 13px 8px">
              <ion-option value="married" >Married</ion-option>
              <ion-option value="inarelationship">In a relationship</ion-option>
              <ion-option value="single">Single</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label fixed>Age</ion-label>
            <ion-input type="number" formControlName="age"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label fixed>Nickname</ion-label>
            <ion-input type="text" formControlName="nickname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label> Would you like to appear anonymous<br> to other people?</ion-label>
            <ion-toggle checked="false" formControlName="anonymous"></ion-toggle>
          </ion-item>
        </ion-list>


        <div padding>
          <button ion-button color="dark" large block (click)="gotoStep('step2')" [disabled]="isStepDisabled('step2')">Next</button>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'step2'">
        <ion-list>
          <ion-list-header>
            CREDENTIALS
          </ion-list-header>
          <ion-item>
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label fixed>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            CHOOSE AN AVATAR
          </ion-list-header>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <ion-avatar item-start>
                    <button class="avatarBtn" (click)="selectedAvatar=0" [class.is-selected]="selectedAvatar===0"><img src="../assets/imgs/avatars/dog.png"></button>
                  </ion-avatar>
                </ion-col>
                <ion-col col-3>
                  <ion-avatar item-start>
                    <button class="avatarBtn" (click)="selectedAvatar=1" [class.is-selected]="selectedAvatar===1"><img src="../assets/imgs/avatars/cat.jpg"></button>
                  </ion-avatar>
                </ion-col>
                <ion-col col-3>
                  <ion-avatar item-start>
                    <button class="avatarBtn" (click)="selectedAvatar=2" [class.is-selected]="selectedAvatar===2"><img src="../assets/imgs/avatars/dog2.jpeg"></button>
                  </ion-avatar>
                </ion-col>
                <ion-col col-3>
                  <ion-avatar item-start>
                    <button class="avatarBtn" (click)="selectedAvatar=3" [class.is-selected]="selectedAvatar===3"> <img src="../assets/imgs/avatars/bird.jpeg"></button>
                  </ion-avatar>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

        </ion-list>
        <div padding>
          <button ion-button color="dark" block large (click)="gotoStep('step3')" [disabled]="isStepDisabled('step3')">Next</button>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'step3'">
        <ion-grid class="alert">
          <ion-row>
            <ion-col col-2 class="infoIconContainer">
              <ion-icon name="ios-information-circle-outline" color="primary"></ion-icon>
            </ion-col>
            <ion-col col-10 class="infoInfoContainer">Along with your profile, we will match you to peers, bots or healthcare professionals based on the selected stress type and options below.</ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>

          <ion-list-header>
            WHAT MAKES YOU STRESS?
          </ion-list-header>
          <ion-item>
            <ion-label>Stress Type</ion-label>
            <ion-select formControlName="stresstypes" multiple>
              <ion-option value="0">Financials</ion-option>
              <ion-option value="1">Parenthood</ion-option>
              <ion-option value="2">Work-related stress</ion-option>
              <ion-option value="3">Bullying</ion-option>
              <ion-option value="4">Social isolation</ion-option>
              <ion-option value="5">I do not know the reason</ion-option>
              <ion-option value="6">Other</ion-option>
            </ion-select>
          </ion-item>

        </ion-list>
        <ion-list>
          <ion-list-header>
            OTHER
          </ion-list-header>

          <ion-item>
            <ion-label> Would you like to chat and lean on<br>people with the same stress type only?</ion-label>
            <ion-toggle checked="true" formControlName="realpeeps"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label> Would you like chat bots to be an<br>option if no peers are online?</ion-label>
            <ion-toggle checked="true" formControlName="chatbot"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label> Would you like to chat with<br>healthcare professionals?</ion-label>
            <ion-toggle checked="true" formControlName="hcp"></ion-toggle>
          </ion-item>
        </ion-list>
        <div padding>
          <button ion-button color="dark" large block (click)="submit($event)" [disabled]="!form.valid">Register</button>
        </div>
      </ng-container>


    </div>
  </form>









</ion-content>
