page-home {

  ion-icon.menuLogo{
    margin: 0 1.5rem 0 0;
    font-size: 1.9em;
  }

  ion-title.menuTitle .toolbar-title{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  ion-header ion-toolbar{
    .badge-md-primary{
      border-radius: 1rem;
      padding: 4px 7px;
      color: #3db887;
      background-color: #fff;
      margin-right:.5rem;
    }
  }

  .alert{
    background-color: #0c4466;
    padding: 1rem;
    font-size: 1.6rem;
    .infoIconContainer{
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon{
        font-size: 4rem;
        //color: #fff;
      }
    }

    .infoInfoContainer{
      color:#41b987;
    }
  }


  .avatarBtn{
    background:transparent;

    &.is-selected{
      img{
        //border:1px solid #41b987;
        box-shadow:0 0 0 2px  #41b987;
      }
    }
  }

}
