page-chat-session {

  $userBackgroundColor: #0c4164;
  $toUserBackgroundColor: #41b987;

  .recommendation{
    padding: 2rem;
    background: #ebfdf6;
    border-radius: 5px;
    margin: 2rem;
    color: #1f7574;
    border: 1px dashed #40b986;
    &__title{
      font-weight:bold;
      margin-bottom:1rem;
    }
    &__content {
      display: flex;
      img {
        min-width: 10rem;
        padding-right: 1rem;
      }
    }
}

  .msgTextareaContainer textarea{
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
    width:100%;
  }

  .sendBtnContainer{
    display:flex;
    align-items: center;
  }

  .message-wrap {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }

      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        float: left;
      }
      .msg-detail {
        padding-left: 60px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #fff;
        border-color:$toUserBackgroundColor;
        span.triangle {
          background-color:$toUserBackgroundColor;
          border-color:transparent;
          border-top-width: 0;
          border-right-width: 0;
          left: -4px;
        }
      }

    }

    .message.right {
      .msg-detail {
        padding-right: 60px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }

      .msg-content {
        background-color: $userBackgroundColor;
        float: right;
        span.triangle {
          background-color: $userBackgroundColor;
          border-color:transparent;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -4px;
        }
      }
    }
  }
  }
