<!--
  Generated template for the ChatSessionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Chatting with {{getPeerNickname(session)}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding #scrollContainer>

  <div class="message-wrap">

    <div *ngFor="let msg of messages$ | async"
         class="message"
         [class.left]="isLoggedInUser(msg.peer)"
         [class.right]=" !isLoggedInUser(msg.peer)">
      <img class="user-img" [src]="getAvatarImg(msg.peer.avatar)" alt="" src="">
      <div class="msg-detail">
        <div class="msg-info">
          <p><strong>{{ msg.peer.nickname }}</strong> &nbsp;{{ msg.date | relativeTime }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.msg}}</p>
        </div>
      </div>
      <div class="recommendation" *ngFor="let rec of msg.reccomendations">
        <div class="recommendation__title">RECOMMENDATION</div>
        <div class="recommendation__content">
          <div><img [src]="rec.img" /></div>
          <div>{{rec.content}}</div>
        </div>
      </div>
    </div>

  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-10 class="msgTextareaContainer"><ion-textarea placeholder="Enter a message" autofocus class="msgTextarea"  [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()"></ion-textarea></ion-col>
        <ion-col col-2 class="sendBtnContainer">  <button ion-button clear icon-only icon-right (click)="sendMsg()">
          <ion-icon name="md-send"></ion-icon>
        </button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
