<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="menuTitle"><ion-icon name="ios-contacts" class="menuLogo"></ion-icon> Lean On Me</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list inset no-lines>
      <button ion-item (click)="openChat()">
        <ion-icon name="md-chatbubbles"  color="gray-light" item-start></ion-icon>
        Have a chat
      </button>
      <button ion-item (click)="openProfile()">
        <ion-icon name="md-person"  color="gray-light" item-start></ion-icon>
        Profile
      </button>
      <button ion-item (click)="logout()">
        <ion-icon name="md-power" color="gray-light" item-start></ion-icon>
         Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
